<br>
<br>
<div class="row">
  <div class="col-lg-12">
    <h2>tracks</h2>

    <div class="table-responsive">
      <table class="table table-bordered table-hover data-table">
        <thead>
        <tr>
          <th>Origin</th>
          <th>Destination</th>
          <th></th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% @tracks.each do |track| %>
            <tr>
              <td><%= track.origin %></td>
              <td><%= track.destination %></td>
              <td><%= link_to 'Show on Map', track, method: :get, class: 'btn btn-xs btn-info' %></td>
              <td><%= link_to 'Destroy', track, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-xs btn-danger' %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="text-center">
      <%= link_to 'New track', new_track_path, method: :get, :class => "btn btn-sm btn-primary" %>
    </div>
  </div>
</div>