<br>
<br>
<div class="row">
  <div class="col-lg-12">
    <h2>Routes</h2>

    <div class="table-responsive">
      <table class="table table-bordered table-hover data-table">
        <thead>
        <tr>
          <th>Origin</th>
          <th>Destination</th>
          <th></th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% @routes.each do |route| %>
            <tr>
              <td><%= route.origin %></td>
              <td><%= route.destination %></td>
              <td><%= link_to 'Show on Map', route, method: :get, class: 'btn btn-xs btn-info' %></td>
              <td><%= link_to 'Destroy', route, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-xs btn-danger' %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="text-center">
      <%= link_to 'New Route', new_route_path, method: :get, :class => "btn btn-sm btn-primary" %>
    </div>
  </div>
</div>