<h1>Listing Locations</h1>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Index</th>
    <th>People</th>
    <th>Symmetric Costs</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @depots.each do |depot| %>
      <tr>
        <td><%= depot.name %></td>
        <td><%= depot.index %></td>
        <td><%= depot.demand %></td>
        <td><%= depot.symmetric_costs %></td>
        <td><%= depot.latitude %></td>
        <td><%= depot.longitude %></td>
        <td><%= link_to 'Show on Map', depot, method: :get, class: 'btn btn-xs btn-info' %></td>
        <td><%= link_to 'Employees', employees_path(depot_id: depot.id), method: :get, class: 'btn btn-xs btn-info' %></td>
        <td><%= link_to 'Edit', edit_depot_path(depot), method: :get %></td>
        <td><%= link_to 'Destroy', depot, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Depot', new_depot_path, method: :get, :class => "btn btn-sm btn-primary" %>
